<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="site">
        <div class="ui massive menu">
            <div class="ui container">
                <div class="item"><a href="/" style="color: beige;">ToDo List</a></div>

            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="ui container">
            <form id="form" action="/edit/<%= team._id %>" class="ui form" method="POST">
                <div class="three fields">
                    <div class="field">
                        <label for="label" class="ui header green">To do</label>
                        <input type="text" name="name" placeholder="Enter todo" value="<%= team.name %>" id="name">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green">Description</label>
                        <input type="text" name="description" placeholder="Enter description" value="<%= team.description %>" id="description">
                    </div>

                    <div class="field">
                        <label for="label" class="ui header green">Time</label>
                        <input type="time" name="time" placeholder="Enter time" value="<%= team.time %> " id="time">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green">Date </label>
                        <input type="date" name="date" placeholder="Enter date " value="<%= team.date %>" id="date">
                    </div>
                </div>
                <!-- <div class=" one fields"> -->
                <div class="field fluid">
                    <button type="submit" class="ui button fluid green" style="width:30%; margin: auto ;">Save</button>
                </div>
                <!-- </div> -->
            </form>
            <br>
            <br>
            <br>
        </div>
    </div>
</body>

</html>